/* course card */
.course-card {
  background: var(--text-light);
}
/* image */
.course-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
/* typography */
.course-card h3 {
  color: var(--primary-dark);
  font-size: 2rem;
}
.course-card p {
  text-align: justify;
  color: var(--primary-text);
  font-size: 1rem;
}
/* price */
.course-card .price {
  color: var(--primary-dark);
  font-size: 1.5rem;
  padding-block: 0.5rem;
}
/* button */
.course-card .enroll-btn {
  border: 0;
  outline: 0;
  color: var(--text-light);
  background: var(--primary-color);
  font-weight: bold;
  padding: 10px 30px;
  transition: 0.3s ease;
}

.course-card .enroll-btn:hover {
  background: #c51e42;
}
/* subjects */
.subject {
  background: var(--primary-dark);
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  color: var(--text-light);
}
